*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(meeting.png);
    background-size: cover;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
    margin-right: 100px;
    margin-top: 70px;
    background-color: #f0d3f7;
    width: 400px;
    margin-left: 550px;
    border: 2px solid black;

    


    
}
textarea {
   
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
label{
    display: block;
    margin-bottom: 5px;
}
#fourth{
    margin-left: 50px;
}
button{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    margin-right: 100px;
    background-color: aquamarine;
    
}
button:hover{
    background-color: cadetblue;
    transition: all 1s;
}
input{
    height: 20px;
}

